﻿@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Credential.Username"></label>
                </div>
                <div class="col-5">
                    <input type="text" asp-for="Credential.Username" placeholder="Username" />
                </div>
                <span class="text-danger" onformchange="Credential.Username"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Credential.Password" placeholder="Password" />
            </div>
            <span class="text-danger" onformchange="Credential.Password"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn-primary btn-primary" value="Login" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>